html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
}

.form-signin {
  width: 100%;
  max-width: 550px;
  height: fit-content;
  position: relative;
  padding: 50px;
  margin: auto;
}

#b1:hover,
#b3:hover {
  opacity: 0.8;
}

#b2 {
  background-color: #f5f6fa;
  color: #496dfc;
}

#b2:hover {
  background-color: #496dfc;
  color: #f5f6fa;
}

#text {
  font-weight: bold;
}

.notification {
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
  padding: 10px 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.07));
}

.cancel {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 400px) {
  .form-signin {
    margin: 0;
    padding: 0px 20px;
    margin-bottom: 100px;
  }

  .notify {
    margin-top: 100px;
  }

  .notification {
    left: 10%;
    right: 10%;
    bottom: none;
  }

  #text {
    font-weight: 500;
  }

  .cancel {
    width: 30px;
    height: 30px;
  }

  #firstSection,
  #secondSection {
    margin-bottom: 100px;
  }
}

.custom-select {
  position: relative;
  font-family: Arial;
  color: black;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #f5f6fa;
  color: black;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #f5f6fa;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  color: rgba(224, 1, 1, 0.959);
}

.same-as-selected {
  color: rgba(224, 1, 1, 0.959);
}
